.banner{
    background-color: black;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
.banner-box{
    position: absolute;
    /* background: linear-gradient(to right, #F1E02A, #F7EE88, #EFEFEF, #F1E02A,#F1E02A); */
    background: var(--banner-bg-color);
    margin-left: 108px;
    margin-top: 60px;
    width: 88vw;
    border-radius: 20px;
    height: 34vh;
    display: flex;
    
    

}
.banner-box img{
    height: 294px;
    margin-left: 300px;
}
.banner-box-text{
    margin-top: 34px;
    margin-left: 90px;
    /* background-color: antiquewhite; */
    width: 100%;
    
    
    
}
.banner-box-text p{
    font-size: 25px;
    font-weight: 350; 
    gap: 10px;
    letter-spacing: 2px;
}
.banner-box-text p span:nth-child(1){
    font-size: 25px;
    font-weight: 500;
}
.banner-box-text p span:nth-child(2){
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
}
.banner-box-text h3{
    margin-top: 20px;
    font-size: 45px;
    font-weight: 400;
}

.banner-box-text button{
    margin-top: 30px;
    background-color: var(--button-bg-color);
    color: aliceblue;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 400;
    border: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    cursor:pointer
}
.banner-box-su{
    display: flex;
    margin-top: 40px;
    margin-left: 130px;
    gap: 50px;

    
}
.banner-box-sub{
    
    background-color: #EFEFEF;
    margin-top: 23%;
    height: 125px;
    width: 290px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.banner-box-img:nth-of-type(1) {
    margin-top: 10px;
    margin-left: 110px;
    width: 65px;
    height: 65px;
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.banner-box-sub:nth-child(1) .banner-box-img {
    background-color: #ef8ce7;
  }
  .banner-box-sub:nth-child(2) .banner-box-img {
    background-color: #67dc8a;
  }
  .banner-box-sub:nth-child(3) .banner-box-img {
    background-color: #2e4ab1;
  }
  .banner-box-sub:nth-child(4) .banner-box-img {
    background-color: #ffb53f;
  }
.banner-box-img span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4a4a4a;
  }

.banner-box-sub h2{
        
        display: flex;
        justify-content: center;
        font-size: 20px;
        color: #333;
        
      
}
.banner-box-img {
    margin-top: 10px;
    margin-left: 110px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.banner-box-img img {
    width: 40px; 
    height: 40px; 
    object-fit: contain; 
    filter: brightness(0) invert(1)
}


.astro-services-home{
    background-color: #EEEEEE;
    position: relative;
    height: 65vh;
    display: flex;

    
   
}

.astro-services-home h2{
    position: absolute;
    margin-top: 35px;
    margin-left: 580px;
    font-size: 35px;
    font-weight: 600;
}

.astro-service-home-box{
    display: flex;
    gap: 40px;
    margin-top: 100px;
    margin-left: 30px;
    position: relative;
    width: 100%;
    
    
}
.change-icons{
    
    margin-top: 140px;
    margin-left: 10px;
}
.astro-service-home-box-sub{
    
    
    height: 350px;
    width: 288px;
    background-color: #F1E02A;
    border-radius: 20px;
}

.astro-service-home-box-subtw0{
    
    background-color: white;
    border-radius: 20px;
    height: 341px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.astro-service-home-box-subtw0 span{
    width: 90px;
    height: 90px;
    background-color: var(--bg);
    border-radius: 50px;
     display: flex;
    justify-content: center;
    align-items: center;
}
.astro-home-service-icons{
    position: relative;
    z-index: 2;
   
    

}

.astro-service-home-box-subtw0 h3{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #8C8C8C;
}
.astro-service-home-box-subtw0 p{
    margin: 0;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 400;
    color: #8F8E8E;
}
.MantraCustomer1{
    height: 15vh;
    display: flex;
    justify-content: center;
    gap: 72px;
    align-items: center;
    background: var(--customer-bg-color);
    
}
.customer-N h2{
    color: var(--text-color-main);
    font-size: 40px;
    font-weight: 700;
    gap: 4px;
}
.customer-N h2 span{
    font-size: 30px;
    font-weight: 700;
}
.customer-N p{
    font-size: 25px;
    font-weight: 500;
    padding-top: 5px;
    color: var(--text-color-main);
}
.Mantra-News{
    background: var(--yellow-bg-color);
    height: 64vh;
}

.Mantra-News h2{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color-main1);
    padding-top: 25px;
}
.Mantra-News-Boxs{
 display: flex;
 
}
.Mantra-News-Box {
    
    margin-left: 90px;
    margin-top: 20px;
    height: 360px;
    background: var(--bg-color-main);
    width: 390px;
    border-radius: 20px;
    position: relative;
   
}

.News-img {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    border-radius: 20px;
}

.News-img img {
    width: 100%;
    height: 210px;
    border-radius: 20px 20px 0 0;
}
.News-img p{
    margin-left: 25px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color-sub-main);
}
.News-img span{
    margin-top: 8px;
    margin-left: 240px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(0,0,0,0.5);
}
.Blog-details{
    height: 58vh;
    margin-top: 20px;
    margin-left: 20px;
}
.Blog-details h2{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color-main1);
    padding-top: 25px;
}
.Blog-Box{
    background-color: #4a4a4a;
    margin-left: 88px;
    margin-top: 20px;
    /* height: 315px; */
    
    width: 390px;
    border-radius: 20px;
    position: relative;
}
.Blog-Box-sub{
    display: flex;
    justify-content: flex-start;
    
    flex-direction: column;
    border-radius: 20px;
}

.Blog-Box-sub img {
    width: 100%;
    height: 210px;
    border-radius: 20px 20px 0 0;
    position: relative;
}
.Blog-Box-sub span{
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 20px;
    color: var( --text-color-main);
}
.Blog-Box-sub p{
    margin-left: 30px;
    margin-top: 15px;
}
.Blog-Box-sub h6{
    margin-left: 28px;
    margin-top: 16px;
    padding-bottom: 26px;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color-main);
}
.date-name{
    display: flex;
    gap: 200px;
}
